<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>My Lists</h1>
    <%= link_to "create a new list", new_list_path, class: "btn btn-primary" %>
  </div>
  <%# cards %>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to list.name, list_path(list), class: "text-decoration-none" %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
